bin/
etc/defaults/
etc/descriptions/
etc/init/
include/
lib/
sbin/
share/cities.xml
share/db/
share/deps/
share/doc/
share/fdsnws/
share/locsat/
share/magnitudes/
share/man/
share/plugins/
share/scalert/
share/scautoloc/grid.conf
share/scautoloc/station-locations.conf
share/scautoloc/station.conf
share/scautopick/
share/scmaster/
share/scvoice/
share/shell-completion/
share/templates/
share/ttt/
share/xml/
var/

